@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  border-color: transparent !important;
}

body {
  background-color: #e9e9e9 !important;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}

/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

/* END: Home styles */

/* START: Car Card styles */
.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}

/* END: Car Card styles */

/* START: Car Details styles */
.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}

/* END: Car Details styles */

/* START: Custom Filter styles */
.custom-filter__btn {
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

/* END: Custom Filter styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100 mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}

/* END: searchbar styles */

/* START: search manufacturer styles */
.search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}

/* END: search manufacturer styles */

.bg-c1 {
  background-color: #ece7e1;
}

.bg-c2 {
  background-color: #b1a8a3;
}

.myClass1 {
  color: red;
}


.btn {
  font-weight: bolder !important;
}


.btn-2 {
  background-color: #000 !important;
  color: white !important;
  font-size: 14px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  font-family: 'SinkinSans-Semibold', 'SinkinSans-700Bold', sans-serif;
}



@media (min-width: 1200px) {
  @media (pointer: fine) {
    .xl\:pointer-fine\:br_h-\[75px\] {
      height: 100px !important;
    }

    .xl\:pointer-fine\:br_top-\[9px\] {
      top: 25px !important;
    }

    .secondaryLevel {
      top: 65px !important;
    }
  }
}


.sywVideo {
  color: #231f20 !important;
  background-color: transparent !important;
}

.sywCarousel {
  color: #231f20 !important;
}

.sywProductTabs-title {
  color: #231f20 !important;
  background-color: transparent !important;
}

.sywPaymentOptions {
  color: #231f20 !important;
}

.SiteFooter__wrapper {
  background: #231f20 !important;
}


a:hover {
  color: #ea6a2b !important;
  text-decoration: none;
}

#page-footer-mailto-support-bellroy-com-1 {
  color: #eee !important;
}


.syw-cta-desktop:hover,
.syw-cta-desktop:focus {
  color: #231f20 !important;
  text-decoration: none;
}

.productTabs,
.productTabs__tabs,
.syw-usps {
  background: transparent !important;
}

.productTabs__tabContent__image_tab_4 {
  background-image: url("https://res.cloudinary.com/duppvjinz/image/upload/v1705952516/v9dfrieph0t7ememxkvm.webp");
}


.klaviyo_submit_button {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  background: #ea6a2b;
  text-align: center;
  padding: 0 5px;
  min-width: 100%;
  outline: none;
  border: 0;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .syw-cta-desktop {
    bottom: 33%;
  }
}

@media (min-width: 1200px) {
  .syw-cta-desktop {
    bottom: 30%;
  }

  #PageMenuPreHeader {
    background-color: #fff
  }
}


@media (max-width: 2300px) and (max-height: 900px) {
  #PageMenuPreHeader {
    background-color: #231f20
  }
}




@media (min-width: 1300px) {
   
}




@media (max-width: 1199px) {
  

  #PageMenuPreHeader {
    background-color: #fff
  }
}

@media (max-width: 720px) {
  #newB1 {
    right: 5em
  }

  #newB2 {
    left: 5em
  }

  #PageMenuPreHeader {
    background-color: #fff
  }

  .syw-cta-desktop {
    bottom: 15%;
  }

  .logo {
    max-height: 250px; 
  }

}

@media (min-width: 720px) {
  #newB1 {
    right: 28em
  }

  #newB2 {
    left: 28em
  } 

}


@media (min-height: 1100px) and (min-width: 1300px) {
  #PageMenuPreHeader {
    background-color: #fff
  }
}



#anchorNew:hover {
  color: #231f20 !important;
}

.form-control {
  border-radius: initial !important;
}


.form-control:focus {
  box-shadow: none !important;
  font-size: 14px !important;
}


.swiper-wrapper {
  width: 1500px !important;
}

.car-card {
  background-color: transparent;
}

.car-card:hover {
  background-color: transparent;
  --tw-shadow: none;
}


.HtmlProductAddToCart {
  background-color: #ea6a2b !important;
}

button:focus {
  outline: none !important;
}






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


.select-theme {
  margin-top: 20px;
}

.select-theme p {
  margin: 0 0 5px 0;
  padding: 0;
}

.radio-label {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  margin-right: 7px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.radio-input {
  margin: 0;
  visibility: hidden;
}

.radio-input:checked+span {
  border: 2px solid #f4b400;
}

.radio-input:checked+span:after {
  opacity: 1;
}

.custom-radio {
  left: -8px;
  top: 6px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

/* for inner filled circle */
.custom-radio::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #f4b400;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}




.MiniCart_Cart .MiniCart_Cart_SupportedPaymentTypes_Icons {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}


.MiniCart_Cart .MiniCart_Cart_SupportedPaymentTypes {
  padding: 20px;
}






 
.wallet-image {
  display: none;
}

.wallet-image.desktop {
  display: block;  
}

@media (max-width: 768px) {
  .wallet-image.desktop {
    display: none;
  }
  .wallet-image.mobile {
    display: block;  
  }
}